	.container {
	margin: auto;
	width: 90%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	}

	.center {
	margin: auto;
	width: 90%;
	padding: 10px;
	}

	h2{
		text-align: center;
		background-color: #8c04aa;
		color: white;
		padding: 1%;
	}

	.operator {
		color: black;
		background-color: rgb(227, 141, 227);
		width: 70px;
		height: 40px;
		border-radius: 15px;
	}

	.operator:hover{
		background-color: rgb(244, 188, 230);
	}

	.number {
		width: 70px;
		height: 40px;
		border-radius: 15px;
	}

	.number:hover{
		background-color: rgb(162, 162, 162);
	}